<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Test users credentials-->
    <add key="Username" value="User.Proton.Test" />
    <add key="Password" value="Proton.1234" />

    <!--Application URL for environment -->
    <add key="UITestBaseURL" value="https://beta.protonmail.com/settings/labels" />

    <!--Default global timeout-->
    <add key="DefaultTimeOut" value="60" />
  </appSettings>
</configuration>
